*{
 box-sizing: border-box;   
}
:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --font: 'Red Hat Display', sans-serif;
}

body{
    margin: 0;
    background-color: var(--pale-blue);
    font-family: var(--font);
    color: var(--desaturated-blue);
}

.target{
    width:85%;
    max-width: 375px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background-color: var(--very-pale-blue);
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 10px 30px #8c8eaa7b;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: scale(0.8);
}

.target__header{
    background-image: url(images//illustration-hero.svg);
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 155px;
}

.description{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 27px;
}

.description h2,
.description h3,
.price h2,
.price h3{
    color: var(--dark-blue);
    font-weight: 900;
}

.description h2{
    margin: 25px 0 15px;
}

.description p{
    max-width: 90%;
    margin: 0;
    letter-spacing: 1px;
}

.price{
    margin: 20px 0 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price .plan{
    display: flex;
    flex-direction: column;
}

.price__plan h3,
.price__plan p{
    margin: 2px 0;
}

.price .change{
    font-weight: 700;
    color: var(--bright-blue);
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.btn__pay, .btn__cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

.btn__pay{
    background-color: var(--bright-blue);
    height: 60px;
    border-radius: 15px;   
    box-shadow: 0 10px 20px #8c8eaa7b;
    color: #FFF; 
}

.btn__cancel{
    margin: 30px 0 0;
    color: var(--desaturated-blue);
}

@media screen and (min-width: 700px) {
    body{
        background-image: url(images/pattern-background-desktop.svg);
        background-position: center 25%;
        background-repeat: no-repeat;
    }
}